<div class="jumbotron center">
  <h1>Welcome to N2grate</h1>
  <h2>The best integration app the world has ever seen</h2>
  <p><%= link_to "Sign up or Login", "#", class: "btn btn-danger btn-lg" %>
  </p>
  
</div>