<div class="jumbotron center">
  <h1>Welcome to N2grate</h1>
  <!--<h2>The best integration app the world has ever seen</h2> -->
  <p><%= link_to "Sign up for the app", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  </p>
  </div>
  
  <div class="row">
  <div class="col-lg-4">
    <h2>Phase 1</h2>
    <p class="text-danger">This phase is currently in progress and is slated to be complete by December 2017.</p>
    <p>Phase one will include the Project, Survey and Discovery Modules. Projects modules will feature input forms for Customer, Contact and Locations. Survey will include Rooms info, Photos and Owner Furnished Equipment. Discovery module will feature the first system types. </p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4">
    <h2>Phase 2</h2>
    <p>Phase 2 will introduce the Estimation module whose purpose is to assign and track active job estimations. The survey module will be enhanced with a feature to upload photos of each space in the database. The Discovery module will add new system types. </p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Phase 3</h2>
    <p> Phase 3 will add Proposal module for quick SOW generation as well as automating the SC checklist for Proposal review and preparation. Job Initiation module may also be added to automate process of Submitting jobs to JA. This phase will also continue to update all other modules as well.</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
  
